{# templates/partials/footer.twig.html #}
<footer class="page-footer">
    <section class="footer-section">
        <h3>À propos d'Amely</h3>
        <ul class="footer-list">
            <li><a href="/templates/CGU.twig.html">Qui sommes-nous</a></li>
            <li><a href="/templates/CGU.twig.html">Mentions légales</a></li>
            <li><a href="/templates/CGU.twig.html">Politique de confidentialité</a></li>
            <li><a href="/templates/CGU.twig.html">CGU</a></li>
        </ul>
    </section>

    <section class="footer-section">
        <h3>CGU</h3>
        <ul class="footer-list">
            <li><a href="/templates/CGU.twig.html">Conditions générales</a></li>
            <li><a href="/templates/CGU.twig.html">Protection des données</a></li>
            <li><a href="/templates/cookies.twig.html">Cookies</a></li>
            <li><a href="/templates/CGU.twig.html">Accessibilité</a></li>
        </ul>
    </section>

    <section class="footer-section">
        <h3>Nous contacter</h3>
        <ul class="media">
            <li>
                <i class="fab fa-linkedin"></i>
                <a href="http://linkedin.com/in/swayam-chavan/">LinkedIn</a>
            </li>
            <li>
                <i class="fa-brands fa-instagram"></i>
                <a href="#">insta</a>
            </li>
            <li>
                <i class="fas fa-envelope"></i>
                <a href="mailto:contact@amely.fr">contact@amely.fr</a>
            </li>
            <li>
                <i class="fas fa-phone"></i>
                <span>01 23 45 67 89</span>
            </li>
        </ul>
    </section>
</footer>