{# templates/partials/navbar.twig.html #}
<header>
    <nav class="navbar">
        <img src="/assets/image/logo.png" alt="Logo de l'entreprise" class="logo">
        <button class="btn-hamburger"><i class="fa-solid fa-bars"></i></button>
        <button class="btn-cross"><i class="fa-solid fa-xmark"></i></button>
        <ul class="navbar-nav">
            <li><a href="/index.php?uri=company/index" class="nav-items">Entreprise</a></li>
            <li><a href="/index.php?uri=offer/index" class="nav-items">Offres</a></li>
            <li><a href="/index.php?uri=auth/contact" class="nav-items">Contact</a></li>
        </ul>
        <aside class="nav-user">
            <button class="user-icon" aria-expanded="false" aria-controls="user-menu">
                <i class="fa-solid fa-user"></i>
            </button>
            <ul id="user-menu" class="dropdown-menu">
                {%if session.user_id is not defined%}
                    <li><a href="" class="user-items auth">Se connecter</a></li>
                {%endif%}
                {%if session.user_id is defined%}
                    {%if session.user_status == 'Etudiant'%}
                        <li><a href="?uri=user/show" class="user-items">Profil</a></li>
                        <li><a href="?uri=likes/show" class="user-items ">Mes offres</a></li>
                        <li><a href="index.php/?uri=auth/logout" class="user-items">Déconnexion</a></li>
                    {%else%}
                        <li><a href="index.php?uri=user/index" class="user-items">Gestion compte</a></li>
                        <li><a href="index.php?uri=offer/admin" class="user-items">Gestion offre</a></li>
                        <li><a href="/?uri=company/admin" class="user-items">Gestion entreprise</a></li>
                        <li><a href="index.php/?uri=auth/logout" class="user-items">Déconnexion</a></li>
                    {%endif%}
                {%endif%}
            </ul>
        </aside>
    </nav>
</header>