{# templates/addCompany.twig.html #}
{% extends 'baseForm.twig.html' %}

{% block title %}Nouvelle entreprise{% endblock %}

{% block content %}

<main class="company-creation">
    <form class="company-form" action="#" method="get">
        <h1>Créer une entreprise</h1>

        <div class="company-form-group">
            <label for="name">Nom de l'entreprise</label>
            <input type="text" id="name" name="name">
        </div>

        <div class="company-form-group">
            <label for="description">Description</label>
            <textarea id="description" name="description"></textarea>
        </div>

        <section class="contact-section">
            <h2>Contact</h2>
            <div class="contact-form-section">
                <div class="company-form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email">
                </div>

                <div class="company-form-group">
                    <label for="telephone">Téléphone</label>
                    <input type="tel" id="telephone" name="telephone">
                </div>
            </div>
        </section>
        <footer class="company-buttons">
            <a href="../index.php/uri=company/index" class="company-back">Retour</a>
            <input name="uri" type="hidden" value="company/add">
            <button type="submit" class="company-submit">Créer l'entreprise</button>

        </footer>
    </form>
</main>
{% endblock %}