{# templates/company.twig.html #}
{% extends 'base.twig.html' %}

{% block title %}Administration offres{% endblock %}

{% block content %}
<main class="fav">
    <section class="favoris">
        <h1 class="titre_fav">
            Gerer les offres
        </h1>
    </section>
    <section class="offers-container favoris-offer-container">
        {% for offer in offers %}
        <article class="offer favoris-offer">
            <header>
                <h1>{{offer.offer_name}}</h1>
            </header>
            <section class="offer-content">
                <ul class="principal-infos-offers">
                    <li>{{offer.company_id}}</li>
                    <li>Strasbourg</li>
                </ul>
                <ul class="secondary-infos-offers">
                    <li>20000€</li>
                    <li>stage</li>
                    <li>avantage nature</li>
                    <li>6 mois</li>
                    <li>web</li>
                    <li>html</li>
                    <li>css</li>
                </ul>
                <p>{{offer.offer_long_description}}</p>
                <footer>
                    <div class="date">
                        <p>publié le :</p>
                        <time>09/02/2025</time>
                    </div>
                    <button class="see-more gerer-offre"> <a href="creation-offre.html">modifier</a> </button>
                    <button class="action-bouton" onclick="supprimer()">Supprimer</button>
                </footer>
            </section>

        </article>
        {% endfor %}
    </section>
    <button class="action-bouton ajout-offre" > <a href="addOffer.twig.html"> +</a></button>
    <section>
        <ul class="pagination">
            <li><a href="?page=1">Page 1</a></li>
            <li><a href="?page=2">Page 2</a></li>
            <li><a href="?page=3">Page 3</a></li>
            <!-- Ajoutez plus de liens de pagination ici -->
        </ul>
    </section>
</main>
{% endblock %}