{# templates/adminOffer.twig.html #}
{% extends 'base.twig.html' %}

{% block title %}Administration offres{% endblock %}

{% block content %}
<main class="fav">
    <section class="favoris">
        <h1 class="titre_fav">
            Gerer les offres
        </h1>
    </section>
    <section class="offers-container favoris-offer-container">
        {% for offer in offers %}
        <article class="offer favoris-offer">
            <header>
                <h1>{{offer.offer_title}}</h1>
            </header>
            <section class="offer-content">
                <ul class="principal-infos-offers">
                    <li>Entreprise: {{offer.company_id}}</li>
                    <li>Type: {{offer.offer_type}}</li>
                </ul>
                <ul class="secondary-infos-offers">
                    <li>Salaire: {{offer.offer_salary}}</li>
                    <li>Début: {{offer.offer_start_date}}</li>
                    <li>Fin: {{offer.offer_end_date}}</li>
                </ul>
                <p>{{offer.offer_short_description}}</p>
                <footer>
                    <div class="date">
                        <p>publié le :</p>
                        <time>09/02/2025</time>
                    </div>
                    <form class="btn-offer" action="index.php" method="get">
                        <input type="hidden" name="uri" value="offer/showForm">
                        <input type="hidden" name="offer_id" value="{{offer.offer_id}}">
                        <button class="see-more" type="submit">Modifier</button>
                        <button class="action-bouton" onclick="supprimer('index.php?uri=offer/delete&offer_id={{offer.offer_id}}')" type="button">Supprimer</button>
                    </form>
                </footer>
            </section>
        </article>
        {% endfor %}
    </section>
    <form action="index.php" method="get">
        <input type="hidden" name="uri" value="offer/showForm">
        <button class="action-bouton ajout-offre" type="submit">+</button>
    </form>
    <section>
        <ul class="pagination">
            <li><a href="?page=1">Page 1</a></li>
            <li><a href="?page=2">Page 2</a></li>
            <li><a href="?page=3">Page 3</a></li>
            <!-- Ajoutez plus de liens de pagination ici -->
        </ul>
    </section>
</main>
<div id="deleteConfirmModal" class="confirm-modal">
    <div class="confirm-modal-content">
        <h3>Confirmation</h3>
        <p>Souhaitez-vous supprimer l'offre ?</p>
        <div class="confirm-modal-buttons">
            <button id="confirmYes">Oui</button>
            <button id="confirmNo">Non</button>
        </div>
    </div>
</div>
{% endblock %}