{# templates/company.twig.html #}
{% extends 'base.twig.html' %}

{% block title %}Administration Entreprises{% endblock %}

{% block content %}
<main class="gerer-entreprise">
    <section class="titre-entreprise">
        <h1 class="titre-entreprise">
            Gerer les entreprises
        </h1>
    </section>
    <section class="offers-container entreprise-list">
        {% for company in company %}
            <article class="offer entreprise-case">
                <header>
                    <h1>{{company.name}}</h1>
                </header>
                <section class="offer-content">
                    <ul class="principal-infos-offers">
                        <li>{{company.email}}</li>
                        <li>{{company.phone}}</li>
                    </ul>
                    <p> Description : {{company.description}}</p>
                    <footer>
                        <div class="date">
                            <p>publié le :</p>
                            <time>09/02/2025</time>
                        </div>

                    <form class="btn-entreprise" action="#" method="get">
                        <input type="hidden" name="id" value="{{company.id}}">
                        <button class="see-more " type="submit" name="uri" value="company/showForm">modifier</button>
                        <button class="action-bouton" onclick="supprimer()" type="submit" name="uri" value="company/delete">Supprimer</button>
                    </form>
                </footer>
            </section>
        </article>
        {% endfor %}
    </section>
    <form>
    <button class="action-bouton ajout-offre" type="submit" name="uri" value="company/showForm"> +</button>
    </form>
    <section>
        <ul class="pagination">
            <li><a href="?page=1">Page 1</a></li>
            <li><a href="?page=2">Page 2</a></li>
            <li><a href="?page=3">Page 3</a></li>
            <!-- Ajoutez plus de liens de pagination ici -->
        </ul>
    </section>
</main>
{% endblock %}
