{# templates/base.twig.html #}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/style/style.css">
    <link rel="stylesheet" href="/assets/style/offer.css">
    <title>{% block title %}Amely{% endblock %}</title>
</head>
<body>
{% include 'partials/navbar.twig.html' %}


{% block content %}{% endblock %}

{% include 'partials/footer.twig.html' %}

{% block javascripts %}
<script src="/assets/js/nav.js"></script>
<script src="/assets/js/button.js"></script>
{% endblock %}
</body>
</html>