{# templates/company.twig.html #}
{% extends 'base.twig.html' %}

{% block title %}Entreprises{% endblock %}

{% block content %}
<form class="search-container">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input type="text" placeholder="Recherche une entreprise !">
</form>
<form class="filters-container">
    <div class="filter">
        <input type="checkbox" id="filter1" name="filter1" value="filter1">
        <label for="filter1">Lieu</label>
    </div>
    <div class="filter">
        <input type="checkbox" id="filter2" name="filter2" value="filter2">
        <label for="filter2">Populaire</label>
    </div>
    <div class="filter">
        <input type="checkbox" id="filter5" name="filter5" value="filter5">
        <label for="filter5">réseaux</label>
    </div>
    <div class="filter">
        <input type="checkbox" id="filter6" name="filter6" value="filter6">
        <label for="filter6">web</label>
    </div>
    <div class="filter">
        <input type="checkbox" id="filter7" name="filter7" value="filter7">
        <label for="filter7">big data</label>
    </div>
</form>
    <main class="gerer-entreprise">
        <section class="titre-entreprise">
            <h1 class="titre-entreprise">
                Les entreprises
            </h1>
        </section>
        <section class="offers-container entreprise-list">
        {% for company in company %}
            <article class="offer entreprise-case">
                <header>
                    <h1>{{company.company_name}}</h1>
                </header>
                <section class="offer-content">
                    <ul class="principal-infos-offers">
                        <li>{{company.company_email}}</li>
                        <li>{{company.company_phone}}</li>
                    </ul>
                    <p> Description : {{company.company_description}}</p>
                    <footer>
                        <div class="date">
                            <p>publié le :</p>
                            <time>09/02/2025</time>
                        </div>
                        <form class="btn-entreprise" action="#" method="get">
                            <input name="uri" type="hidden" value="company/show">
                            <input name="id" type="hidden" value="{{company.id}}">
                            <button class="see-more" type="submit">voir plus</button>
                        </form>
                    </footer>
                </section>
            </article>
        {% endfor %}
        </section>
        <section>
            <ul class="pagination">
                <li><a href="?page=1">Page 1</a></li>
                <li><a href="?page=2">Page 2</a></li>
                <li><a href="?page=3">Page 3</a></li>
                <!-- Ajoutez plus de liens de pagination ici -->
            </ul>
        </section>
    </main>
{% endblock %}
