{# templates/company.twig.html #}
{% extends 'base.twig.html' %}

{% block title %}Entreprises{% endblock %}

{% block content %}
<form class="search-container" action="#" method="get">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input type="hidden" name="uri" value="company/index">
    <input type="text" name="research" placeholder="Recherche une entreprise !" value="{{ research ? research : '' }}">
</form>
    <main class="gerer-entreprise">
        <section class="titre-entreprise">
            <h1 class="titre-entreprise">
                Les entreprises
            </h1>
        </section>
        <section class="offers-container entreprise-list">
        {% for company in company %}
            <article class="offer entreprise-case">
                <header>
                    <h1>{{company.company_name}}</h1>
                </header>
                <section class="offer-content">
                    <ul class="principal-infos-offers">
                        <li>{{company.company_email}}</li>
                        <li>{{company.company_phone}}</li>
                    </ul>
                    <p> Description : {{company.company_description}}</p>
                    <footer>
                        <div class="date">
                            <p>publié le :</p>
                            <time>09/02/2025</time>
                        </div>
                        <form class="btn-entreprise" action="index.php" method="get">
                            <input type="hidden" name="company_id" value="{{company.company_id}}">
                            <button class="see-more" type="submit" name="uri" value="company/show">voir plus</button>
                        </form>
                    </footer>
                </section>
            </article>
        {% endfor %}
        </section>
        <section>
            <ul class="pagination">
                <li><a href="?page=1">Page 1</a></li>
                <li><a href="?page=2">Page 2</a></li>
                <li><a href="?page=3">Page 3</a></li>
                <!-- Ajoutez plus de liens de pagination ici -->
            </ul>
        </section>
    </main>
<div id="modal" class="modal">
    <div class="modal-content connexion_container">
        <span class="close-button">&times;</span>
        <form class="connexion_box" action="?uri=auth/login" method="post">
            <h1 class="titre_connexion">Se connecter</h1>

            {% if session.login_error is defined %}
            <div class="error-message" style="color: red; text-align: center; margin-bottom: 0px;">
                {{ session.login_error }}
            </div>
            {% endif %}

            <label for="email">email</label>
            <input id="email" class="identifiant" type="email" name="email" placeholder="Email" required value="{{ cookie.email|default('') }}">
            <label for="password">Mot de passe</label>
            <input id="password" type="password" name="password" placeholder="mot de passe" required value="{{ cookie.password|default('') }}">
            <button type="submit">Se connecter</button>
        </form>
    </div>
</div>
{% endblock %}
