{# templates/Likes.twig.html #}
{% extends 'base.twig.html' %}

{% block title %}Favoris{% endblock %}

{% block content %}

<main class="fav">
    <section class="favoris">
        <h1 class="titre_fav">
            Mes offres Favorites
        </h1>
    </section>
    <section class="offers-container favoris-offer-container">
        {% for offer in offers %}
        <article class="offer">
            <header>
                <h1>{{offer.offer_title}}</h1>
            </header>
            <section class="offer-content">
                <ul class="principal-infos-offers">
                    <li>{{offer.company_name}}</li>
                    <li>{{offer.offer_location}}</li>
                </ul>
                <ul class="secondary-infos-offers">
                    <li>{{ offer.offer_salary|default('N/A') }} €</li>
                    <li>{{ offer.offer_type|default('N/A') }}</li>
                    {% if offer.duration is defined and offer.duration != "N/A" %}

                    <li>{{ offer.duration }} semaines</li>
                    {% endif %}
                    {% if offer.skills is defined %}
                    {% for skill in offer.skills %}
                    <li>{{ skill.skill_name }}</li>
                    {% endfor %}
                    {% endif %}
                </ul>
                <p>{{offer.offer_short_description}}</p>
                <section>
                    <div class="date">
                        <p>publié le :</p>
                        <time>{{offer.offer_start_date}}</time>
                    </div>
                    <form action="#" method="get">
                        <input type="hidden" name="uri" value="offer/show">
                        <input type="hidden" name="offer_id" value="{{offer.offer_id}}">
                        <button type="submit" class="see-more">détails de l'offre</button>
                    </form>
                </section>
            </section>

        </article>
        {% endfor %}
    </section>
    <section>
        <ul class="pagination">
            <li><a href="?page=1">Page 1</a></li>
            <li><a href="?page=2">Page 2</a></li>
            <li><a href="?page=3">Page 3</a></li>
            <!-- Ajoutez plus de liens de pagination ici -->
        </ul>
    </section>
</main>

    {% endblock %}