{# templates/company.twig.html #}
{% extends 'base.twig.html' %}

{% block title %}O{% endblock %}

{% block content %}

<main class="postuler-main">
    <article class="principal-offer principal-offer-apply-page">
        <header>
            <div class="offer-title-box">
                <h2>{{offer.offer_title}}</h2>
                <div class="fav-button-container fav-button-container-apply-page">
                    <button type="button" class="favorite-button" aria-label="Ajouter aux favoris">
                        <i class="far fa-heart heart-icon"></i>
                    </button>
                    <p class="nb-fav">53</p>
                </div>
            </div>

            <ul class="principal-infos-offers">
                <li><a href="">{{offer.company_id}}</a></li>
                <div class="company-grade">
                    <li><i class="fas fa-star favoris-icon"></i></li>
                    <li>3.5</li>
                </div>
                <li>Strasbourg</li>
                <li>46 candidats</li>
            </ul>
            <h3>Déscription du poste</h3>
        </header>
        <section class="offer-content">
            <section class="offer-description">
                <h4>En quoi cela consiste ?</h4>

                <p>{{offer.offer_long_description}}</p>
            </section>
            <section class="offer-profil">
                <h4>Profil rechercher</h4>
                <p>{{offer.offer_profile_description}}</p>
            </section>
        </section>
        <footer>
            <address>
                <h3>Contact</h3>
                <aside class="contact-container">
                    <div class="contact-info">
                        <p>Email :</p>
                        <p class="offer-email">example@test.com</p>
                    </div>
                    <div class="contact-info">
                        <p>Tel. :</p>
                        <p class="offer-phone">06 76 92 34 40</p>
                    </div>
                </aside>
                <div class="date">
                    <p>publié le :</p>
                    <time>09/02/2025</time>
                </div>
            </address>
        </footer>
    </article>
    <section class="more-offer-container">
        <h1 class="big-title">Découvrer d'autre offre !</h1>
        <section class="more-offer">
            {% for offer in offers|slice(0, 3) %}
            <article class="offer">
                <header>
                    <h1>{{offer.offer_title}}</h1>
                </header>
                <section class="offer-content">
                    <ul class="principal-infos-offers">
                        <li>{{offer.company_id}}</li>
                        <li>Lieu</li>
                    </ul>
                    <ul class="secondary-infos-offers">
                        <li>Prix 20000€</li>
                        <li>info 2</li>
                        <li>info 3</li>
                        <li>info 4</li>
                        <li>info 5</li>
                    </ul>
                    <p>{{offer.offer_short_description}}</p>
                    <footer>
                        <div class="date">
                            <p>publié le :</p>
                            <time>09/02/2025</time>
                        </div>

                        <button class="see-more">détails de l'offre</button>
                    </footer>
                </section>
            </article>
            {% endfor %}
        </section>
    </section>


    <section class="form" id="formulaire">
        <h2>Envoyez votre candidature dès maintenant !</h2>
        <div class="form-container">

            <form method="post" action="index.php/?uri=apply/add" enctype="multipart/form-data" >
                <div class="form-section_personal-info">
                    <div class="form-group">
                        <label for="name">Nom</label>
                        <input type="text" id="name" name="name">
                        <span id="nomError" style="color: red;"></span><br>
                    </div>

                    <div class="form-group">
                        <label for="prenom">Prénom</label>
                        <input type="text" id="prenom" name="prenom">
                        <span id="prenomError" style="color: red;"></span><br>
                    </div>

                    <div class="form-group">
                        <label for="civilite">Civilité</label>
                        <select name="civilite" id="civilite">
                            <option value="">---</option>
                            <option value="monsieur">Monsieur</option>
                            <option value="madame">Madame</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email">
                        <span id="emailError" style="color: red;"></span><br>
                    </div>
                </div>

                <div class="form-section_secondary-info">

                    <fieldset>
                        <legend>À propos de vous</legend>
                        <div class="checkbox-group">
                            <label for="permis">
                                <input type="checkbox" name="aPropos" id="permis"> Permis B
                            </label>
                            <label for="vehicule">
                                <input type="checkbox" name="aPropos" id="vehicule"> Véhiculé
                            </label>
                            <label for="certification">
                                <input type="checkbox" name="aPropos" id="certification"> Certification(s) (Microsoft, Cisco...)
                            </label>
                        </div>
                    </fieldset>


                    <fieldset>
                        <legend>Je suis majeur</legend>
                        <div class="radio-group">
                            <label for="majeur_oui">
                                <input type="radio" id="majeur_oui" name="majeur" value="oui" > Oui
                            </label>

                            <label for="majeur_non">
                                <input type="radio" id="majeur_non" name="majeur" value="non" > Non
                            </label>
                        </div>
                    </fieldset>
                </div>


                <div class="message-group">
                    <div class="form-field">
                        <label for="motivation">Votre message au recruteur</label>
                        <textarea id="motivation" name="motivation" rows="4"></textarea>
                    </div>
                    <div class="form-field">
                        <label for="cv" class="custom-file-label">Ajouter mon CV</label>
                        <input type="file" id="cv" name="cv" accept=".pdf,.doc,.docx">
                    </div>
                </div>
                <div class="form-actions">
                    <input type="reset" value="Réinitialiser" class="btn-reset">
                    <input type="hidden" name="apply_date" value="{{now|date('Y-m-d')}}">
                    <input type="hidden" name="id_offer" value="{{offer.id}}">
                    <input type="hidden" name="id_user" value="{{user.id}}"> <!-- mettre un token machin truc -->
                    <input type="submit" value="Postuler" class="btn-submit" >
                </div>

            </form>
        </div>
    </section>
    </article>
</main>
{% endblock %}