{# templates/company.twig.html #}
{% extends 'base.twig.html' %}

{% block title %}Entreprises{% endblock %}

{% block content %}
<h2 class="titre-etudiant"> GESTION DES COMPTES </h2>

<form class="search-container">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input type="text" placeholder="Recherche un compte">
</form>

<main class="etudiant">
    <section class="etudiant-tableau">
        <table class ="tableau">
            <thead>
            <tr>
                <th>PRENOM</th>
                <th>NOM</th>
                <th>E-MAIL</th>
                <th>STATUT</th>
                <th>ACTION</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
            <tr>
                <th>{{user.forname}}</th>
                <th>{{user.name}} </th>
                <th>{{user.email}}</th>
                <th>{{user.role}}</th>
                <th>
                    <form method="get" action="#">
                        <input type="hidden" name="id" value="{{user.id}}">
                        <button class="action-bouton" type="submit" name="uri" value="user/show">STATS</button>
                        <button class="action-bouton" type="submit" name="uri" value="user/showForm">MODIFIER</button>
                        <button class="action-bouton" type="submit" name="uri" value="user/delete">SUPPRIMER</button>
                    </form>
                </th>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
    <button class="action-bouton"><a href="/index.php/?uri=user/showForm">Ajouter un compte </a></button>
    <section>
        <ul class="pagination">
            <li><a href="?page=1">Page 1</a></li>
            <li><a href="?page=2">Page 2</a></li>
            <li><a href="?page=3">Page 3</a></li>
            <!-- Ajoutez plus de liens de pagination ici -->
        </ul>
    </section>
</main>
{% endblock %}