{# templates/userInfo.twig.html #}
{% extends 'base.twig.html' %}

{% block title %}Profil{% endblock %}

{% block content %}
<main>
<div class="profile-container">
  <div class="profile-header">
    <img src="../assets/image/user-profile.jpg" alt="Photo de profil">
    <h1>{{user.user_firstname}} {{user.user_lastname}}</h1>
  </div>
  <div class="profile-stats">
    <div>
      <h3>5</h3>
      <p>Candidatures</p>
    </div>
    <div>
      <h3>20h</h3>
      <p>Temps passé</p>
    </div>
    <div>
      <h3>recherche</h3>
      <p>Statut</p>
    </div>
  </div>
  <button class="back-button"> <a href="/index.php/?uri=user/index" >Retour </a></button>
</div>
<section class="more-offer-container">
  <h1 class="big-title">Candidatures :</h1>
  <section class="more-offer student-offer">
    {% for offer in offers %}
    <article class="offer">
      <header>
        <h1>{{offer.offer_title}}</h1>
      </header>
      <section class="offer-content">
        <ul class="principal-infos-offers">
          <li>{{offer.company_id}}</li>
          <li>Lieu</li>
        </ul>
        <ul class="secondary-infos-offers">
          <li>Prix 20000€</li>
          <li>info 2</li>
          <li>info 3</li>
          <li>info 4</li>
          <li>info 5</li>
        </ul>
        <p>{{offer.offer_short_description}}</p>
        <footer>
          <div class="date">
            <p>publié le :</p>
            <time>09/02/2025</time>
          </div>
          <form action="#" method="get">
            <input type="hidden" name="uri" value="offer/show">
            <input type="hidden" name="offer_id" value="{{offer.offer_id}}">
            <button type="submit" class="see-more">details de l'offre</button>
          </form>
        </footer>
      </section>
    </article>
    {% endfor %}
  </section>
</section>
</section>
</main>
{% endblock %}