<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin-Amely</title>
    <link rel="stylesheet" href="../assets/style/style.css">
    <link rel="stylesheet" href="../assets/style/offer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<header>
    <nav class="navbar">
        <img src="../assets/image/logo.png" alt="Logo de l'entreprise" class="logo">
        <button class="btn-hamburger"><i class="fa-solid fa-bars"></i></button>
        <button class="btn-cross"><i class="fa-solid fa-xmark"></i></button>
        <ul class="navbar-nav">
            <li><a href="entreprise.html" class="nav-items">Entreprise</a></li>
            <li><a href="index.html" class="nav-items">Offres</a></li>
            <li><a href="contact.html" class="nav-items">Contact</a></li>
        </ul>
        <aside class="nav-user">
            <button class="user-icon" aria-expanded="false" aria-controls="user-menu">
                <i class="fa-solid fa-user"></i>
            </button>
            <ul id="user-menu" class="dropdown-menu">
                <li><a href="" class="user-items">Profil</a></li>
                <li><a href="favoris.html" class="user-items">Mes offres</a></li>
                <li><a href="admin-page.html" class="user-items">Gestion compte</a></li>
                <li><a href="gerer-offre.html" class="user-items">Gestion offre</a></li>
                <li><a href="gerer-entreprise.html" class="user-items">Gestion entreprise</a></li>
                <li><a href="" class="user-items">Déconnexion</a></li>
            </ul>
        </aside>
    </nav>
</header>
<h2 class="titre-etudiant"> GESTION DES COMPTES </h2>

<form class="search-container">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input type="text" placeholder="Recherche un compte">
</form>

<main class="etudiant">
    <section class="etudiant-tableau">
        <table class ="tableau">
            <thead>
            <tr>
                <th>PRENOM</th>
                <th>NOM</th>
                <th>E-MAIL</th>
                <th>STATUT</th>
                <th>ACTION</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
            <tr>
                <th>{{user.forname}}</th>
                <th>{{user.name}} </th>
                <th>{{user.email}}</th>
                <th>{{user.role}}</th>
                <th>
                    <form method="get" action="#">
                        <input type="hidden" name="id" value="{{user.id}}">
                        <button class="action-bouton" type="submit" name="uri" value="user/show">STATS</button>
                        <button class="action-bouton" type="submit" name="uri" value="user/showForm">MODIFIER</button>
                        <button class="action-bouton" type="submit" name="uri" value="user/delete">SUPPRIMER</button>
                    </form>
                </th>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
    <button class="action-bouton"><a href="../index.php/?uri=user/showForm">Ajouter un compte </a></button>
    <section>
        <ul class="pagination">
            <li><a href="?page=1">Page 1</a></li>
            <li><a href="?page=2">Page 2</a></li>
            <li><a href="?page=3">Page 3</a></li>
            <!-- Ajoutez plus de liens de pagination ici -->
        </ul>
    </section>
</main>
</body>
<footer class="page-footer">
    <section class="footer-section">
        <h3>À propos d'Amely</h3>
        <ul class="footer-list">
            <li><a href="#">Qui sommes-nous</a></li>
            <li><a href="#">Notre<li><a href="#">Mentions légales</a></li>
                <li><a href="#">Politique de confidentialité</a></li>
                <li><a href="#">CGU</a></li>
        </ul>
    </section>

    <section class="footer-section">
        <h3>CGU</h3>
        <ul class="footer-list">
            <li><a href="#">Conditions générales</a></li>
            <li><a href="#">Protection des données</a></li>
            <li><a href="#">Cookies</a></li>
            <li><a href="#">Accessibilité</a></li>
        </ul>
    </section>

    <section class="footer-section">
        <h3>Nous contacter</h3>
        <ul class="media">
            <li>
                <i class="fab fa-linkedin"></i>
                <a href="#">LinkedIn</a>
            </li>
            <li>
                <i class="fa-brands fa-instagram"></i>
                <a href="#">insta</a>
            </li>
            <li>
                <i class="fas fa-envelope"></i>
                <a href="mailto:contact@amely.fr">contact@amely.fr</a>
            </li>
            <li>
                <i class="fas fa-phone"></i>
                <span>01 23 45 67 89</span>
            </li>
        </ul>
    </section>
</footer>

<div id="deleteConfirmModal" class="confirm-modal">
    <div class="confirm-modal-content">
        <h3>Confirmation</h3>
        <p>Souhaitez-vous supprimer le compte ?</p>
        <div class="confirm-modal-buttons">
            <button id="confirmYes">Oui</button>
            <button id="confirmNo">Non</button>
        </div>
    </div>
</div>

<script src="assets/js/nav.js"></script>
<script src="assets/js/button.js"></script>
<script src="assets/js/modal.js"></script>

</html>